<h1 class="my-2">Доступ только по пин-коду</h1>

<%= form_tag('', method: 'post') do |f| %>
  <div class="form-group">
    <%= label :pincode, t('activerecord.attributes.event.pincode') %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control my-2' %>
  </div>

  <div class="actions">
    <%= submit_tag "Войти с пинкодом", class: "btn btn-primary my-2" %>
  </div>
<% end %>

<%= link_to 'На главную', events_path %>
